body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    width: 1350px;
    height: 1600px;

}

/* <!--------------- section-1 style--------------------> */
body h1 {
    font-size: 30px;
}

.container {
    background-color: rgb(176, 182, 236);
    height: 490px;
    width: 1321px;
    border-radius: 50px;
    display: flex;
    margin-left: 125px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.link-button {
    text-decoration: none;
    background-color: red;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* ---------------section-2 style--------- */
.container-2 {
    width: 336px;
    height: 350px;
    background-color: rgb(176, 182, 236);
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.form {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-row-gap: 15px;
    margin: 5px;
    text-align: center;
}

.add-photo img {
    width: 312px;
    height: 175px;

}

.add-icon {
    display: flex;
    justify-content: space-evenly;


}

.tranfer-text {
    font-size: 12px;
}

.transfer-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    margin-left: 7%;

}

.tranfer-container {
    margin: 1%;
    border: 1px solid black;
    border-radius: 3%;
}

.flex-container {
    display: flex;
    margin-left: 125px;
}

/* -----------------website-2 style------------------ */
.flag-flex {
    display: flex;

}

.flag-flex img {
    width: 100%;
}

.flag-border {
    border: 1px solid rgb(218, 211, 211);
}

/* website 3---------all-group----------- */
#grpa {
    border: 1px solid black;
}

#grpb {
    border: 1px solid black;
}

#grpc {
    border: 1px solid black;
}

/* -------------------footer style 
------------------------------------------------*/

footer {
    padding: 130px 130px 130px 130px;
    background: rgb(176, 182, 236);
    width: 1350px;
}

footer h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: black;
    margin-top: 0;
}

footer hr {
    border-top: 1px solid #0e0d0d;
    opacity: .2;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 40px 0 0 0;
}

footer a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #0e0d0d;
}

footer ul:nth-child(4) li {
    background: #0e0d0d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

footer ul:nth-child(4) li a {
    font-size: 30px;
    line-height: 50px;
    color: rgb(176, 182, 236);
}

.index-footer ul:nth-child(4) li a {
    color: rgb(176, 182, 236);
}

/*------------------------------------------
   Responsive design for Small device index and website2 
------------------------------------------ */
@media screen and (max-width:688px) {
    .container {
        flex-direction: column;
    }

    .half-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 10px 0;
    }

    .half-width h1 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin: 0;
    }

    .half-width p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-align: center;
        margin-bottom: 50px;
    }

    .halfwidth img {
        width: 284px;
    }

    /* section-2 */
    .flex-container {
        flex-direction: column;
        margin: 50px 0 50px 0;
        align-items: center;
    }

    .form {
        background: none;
    }

    .link-button {
        border: 1px solid #242121;
    }

    .transfer-player {
        grid-template-columns: repeat(1, 1fr);
    }

    /* -------footer style--------- */
    footer {
        padding: 20px 15px 20px 15px;
    }

    footer ul:nth-child(3) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    footer ul:nth-child(4) {
        padding: 0;
    }

    footer ul:nth-child(4) li {
        background: #0e0d0d;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    .index-footer ul:nth-child(4) li a {
        font-size: 15px;
        line-height: 30px;
        color: rgb(176, 182, 236);
    }

}

/*------------------------------------------
   Responsive design for medium device index and website2 
------------------------------------------ */
@media screen and (min-width:688px) and (max-width: 992px) {

    .container {
        height: 360px;
        padding: 20px 20px 0 50px;
    }

    .half-width h1 {
        font-size: 40px;
        line-height: 50px;
        margin: 0;
    }

    .half-width p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        margin-bottom: 50px;
    }

    .halfwidth img {
        width: 346px;
    }

    /* section-2 */
    .flex-container {
        flex-direction: column;
        margin: 50px 0 50px 0;
    }

    .form {
        background: none;
        width: auto;
        height: auto;
        flex-direction: row;
    }

    .link-button {
        border: 1px solid black;
    }

    .transfer-player {
        grid-template-columns: repeat(2, 1fr);
    }

    .tranfer-container {
        width: auto;
    }

    /* footer style */
    footer {
        padding: 30px 130px 30px 130px;
    }

    footer :nth-child(3) {
        flex-wrap: wrap;
    }
}